<html>
<head>
    <title>Island Time Dashboard</title>

    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/5.5.0-alpha1/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-GLhlTQ8iVG93xBfZlPH94m5bscu3ILjFwFuvkkX/+y7cG0yWR/uAdwFzu+5V4JKJ" crossorigin="anonymous">
    
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/styles.css') }}">

    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/bootstrap.css') }}">

    <meta name="viewport" content="width=device-width, initial-scale=1">

    <style>
      .button-spacing {
          margin-bottom: 10px;
      }
  </style>
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>

  <script src="https://stackpath.bootstrapcdn.com/bootstrap/5.5.0-alpha1/js/bootstrap.min.js" integrity="sha384-2C4l5qVdt4NK6nSi4JhptOqF4H36mO6Wn68qd5FCKfGWuqUG7SgnqMBGz+rqP1A5" crossorigin="anonymous"></script>
  
</head>
<body>

    <header>
        <div class=" navbar-dark box-shadow" style="background-color: #00FFFF;">
          <div class="container text-center">
            <a href="#" class="navbar-brand align-items-center">
                <svg style="color: F5DEB3;" xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="mr-2 bi bi-stopwatch-fill" viewBox="0 0 16 16"> <path d="M6.5 0a.5.5 0 0 0 0 1H7v1.07A7.001 7.001 0 0 0 8 16a7 7 0 0 0 5.29-11.584.531.531 0 0 0 .013-.012l.354-.354.353.354a.5.5 0 1 0 .707-.707l-1.414-1.415a.5.5 0 1 0-.707.707l.354.354-.354.354a.717.717 0 0 0-.012.012A6.973 6.973 0 0 0 9 2.071V1h.5a.5.5 0 0 0 0-1h-3zm2 5.6V9a.5.5 0 0 1-.5.5H4.5a.5.5 0 0 1 0-1h3V5.6a.5.5 0 1 1 1 0z"/></svg>
              <strong style="color: F5DEB3;"> <span class="font-italic">Island Time</span> by Island Millwork Inc</strong>
            </a>
            <!-- <button class="navbar-toggler bg-secondary" style="color: F5DEB3;" type="button" data-toggle="collapse" data-target="#navbarHeader" aria-controls="navbarHeader" aria-expanded="false" aria-label="Toggle navigation">
              <span class="navbar-toggler-icon "></span>
            </button> -->
          </div>
        </div>

      
      </header>

        <script>
          var bootstrap = require('bootstrap')
        </script>

      <main role="main">
          <div class="modal" tabindex="-1" id="noShiftModal">
            <div class="modal-dialog">
              <div class="modal-content">
                <div class="modal-header">
                  <h5 class="modal-title">Alert!</h5>
                  <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                  <p>No shifts available for the given job id.</p>
                </div>
                <div class="modal-footer">
                  <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                </div>
              </div>
            </div>
          </div>

          {% if no_shifts %}
              <script>
                document.addEventListener("DOMContentLoaded", function(event) { 
                  var modal = new bootstrap.Modal(document.getElementById('noShiftModal'))
                  modal.show()
                });
              </script>
          {% endif %}


        
        <section class="jumbotron text-center">
          <div class="container">
            <h1 class="jumbotron-heading">Man-Hour Job Costing Application</h1>
            <p class="lead text-muted">In order to accurately determine if we are estimating the right amount of labor on any given job, this app will gather data on hours logged and compare that total to what was estimated. </p>
            <p>
              <button class="btn btn-warning" type="button" data-bs-toggle="collapse" data-bs-target="#pdfCollapse" aria-expanded="false" aria-controls="pdfCollapse">
                Toggle Gantt Chart
              </button>

                <div class="collapse" id="pdfCollapse">
                  <!-- Add the following line where you want to display the PDF -->
                  <embed src="\static\pdf\5.22 Job Log Gantt.pdf" type="application/pdf" style="width:100%;height:600px;"/>
                </div> 

              {% if logged_in_user.department == 'ADMINISTRATIVE' %}
              <a href="/new/job" class="btn btn-primary my-2">Add a new IM #</a>
              <a href="/shift_report" class="btn btn-secondary my-2">Run a Report</a>
              <a href="/admin/assign_shift" class="btn btn-danger my-2">Assign Shift</a>

              {% endif %}

              <a href="https://app.smartsheet.com/sheets/4wQ4G37fPc5q92H5j4GQf5Qwgw696Jf92FFHFcf1?view=grid" class="btn btn-dark my-2">View the SmartSheet</a>
              <a href="/logout" class="btn btn-danger my-2">Logout</a>
            </p>
            <br>
            <h3 class="center-text">Welcome Back, {{ logged_in_user.first_name }}</h3>
            <h4 style="color: green;">Number of shifts started today: {{ started_today }}</h4>
          </div>
        </section>
  
        <div class="album py-5 bg-light">
          <div class="container align-items-center">
            <!-- Active Jobs Table -->
                <h4 class="mb-3 center-text" id='buy'>Active Jobs Board</h4>
                <div class="col">
                  <table class="mx-auto table table-striped table-hover">
                      <thead>
                      <tr class="center-text">
                          <th data-label>IM #</th>
                          <th data-label>General Contractor</th>
                          <th data-label>Job Scope</th>
                          <th data-label>Actions</th>
                      </tr>
                      </thead>
                      <tbody>
                          {% for job in jobs %}
                          {% if job.status == 1 %}
                      <tr class="center-text">
                          <td><a href="/show/job/{{job.id}}">{{ job.im_number }}</a></td>
                          <td>{{ job.general_contractor }}</td>
                          <td>{{ job.job_scope }}</td>
                          <td><a class="btn button-spacing btn-info" href="/add/shift/{{job.id}}">Start a Shift</a>
                          
                            {% if logged_in_user.department == 'ADMINISTRATIVE' %}

                
                              <a class="btn button-spacing btn-success" href="/edit/job/{{job.id}}">Edit</a>
                              <!-- <a class="btn btn-warning" href="/archive/job/{{job.id}}">Archive</a>  -->
                              <a class="btn button-spacing btn-danger" href="/destroy/job/{{job.id}}">Delete</a>
                          </td>
                          
                          {% endif %}

                      </tr>
                          {% endif %}
                          {% endfor %}
                      </tbody>
                  </table>
              </div>


                
                <!-- Inactive Jobs Table -->
                <h4 class="mb-3 center-text" id='buy'>Inactive Jobs Board</h4>
                <div style="text-align: center; width: 100%;">
                <button class="btn btn-secondary mb-2 " type="button" id="toggleInactiveJobs">
                  Show Inactive Jobs Board
                </button>
                </div>
                <div class="collapse col" id="inactiveJobsTable">
                <table class="table mx-auto table-striped table-hover">
                    <thead>
                    <tr class="center-text">
                        <th data-label>IM #</th>
                        <th data-label>General Contractor</th>
                        <th data-label>Job Scope</th>
                        <th data-label>Actions</th>
                    </tr>
                    </thead>
                    <tbody>
                        {% for job in jobs %}
                        {% if job.status == 0 %} 
                    <tr class="center-text">
                        <td><a href="/show/job/{{job.id}}">{{ job.im_number }}</a></td>
                        <td>{{ job.general_contractor }}</td>
                        <td>{{ job.job_scope }}</td>
                        <td><a class="btn btn-info" href="/add/shift/{{job.id}}">Start a Shift</a>
                        
                          {% if logged_in_user.department == 'ADMINISTRATIVE' %}

              
                            <a class="btn btn-success" href="/edit/job/{{job.id}}">Edit</a>
                            <!-- <a class="btn btn-warning" href="/archive/job/{{job.id}}">Archive</a>  -->
                            <a class="btn btn-danger" href="/destroy/job/{{job.id}}">Delete</a>
                        </td>
                        
                        {% endif %}

                    </tr>
                        {% endif %}
                        {% endfor %}
                    </tbody>
                </table>
              </div>

            
          </div>
          <img src="/static/img/IMLOGO.png" class="img rounded mx-auto d-block" alt="Company Logo">

        </div>
  
      </main>

      <script>
        document.addEventListener("DOMContentLoaded", function () {
          var toggleInactiveJobs = document.getElementById("toggleInactiveJobs");
          var inactiveJobsTable = document.getElementById("inactiveJobsTable");
      
          toggleInactiveJobs.addEventListener("click", function () {
            inactiveJobsTable.classList.toggle("collapse");
          });
        });
      </script>
      <script>
        document.addEventListener("DOMContentLoaded", function () {
          var togglePDF = document.querySelector('[data-bs-target="#pdfCollapse"]');
          var pdfCollapse = document.getElementById('pdfCollapse');
      
          togglePDF.addEventListener("click", function () {
            pdfCollapse.classList.toggle("show");
          });
        });
      </script>
      
</body>
</html>
