<html>
<head>
    <title>Edit Job</title>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/bootstrap.css') }}">
</head>
<body>

  <header>
    <div class=" navbar-dark box-shadow" style="background-color: #00FFFF;">
      <div class="container text-center ">
        <a href="#" class="navbar-brand align-items-center">
            <svg style="color: F5DEB3;" xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="mr-2 bi bi-stopwatch-fill" viewBox="0 0 16 16"> <path d="M6.5 0a.5.5 0 0 0 0 1H7v1.07A7.001 7.001 0 0 0 8 16a7 7 0 0 0 5.29-11.584.531.531 0 0 0 .013-.012l.354-.354.353.354a.5.5 0 1 0 .707-.707l-1.414-1.415a.5.5 0 1 0-.707.707l.354.354-.354.354a.717.717 0 0 0-.012.012A6.973 6.973 0 0 0 9 2.071V1h.5a.5.5 0 0 0 0-1h-3zm2 5.6V9a.5.5 0 0 1-.5.5H4.5a.5.5 0 0 1 0-1h3V5.6a.5.5 0 1 1 1 0z"/></svg>
          <strong style="color: F5DEB3;"> <span class="font-italic">Island Time</span> by Island Millwork Inc</strong>
        </a>
        <!-- <button class="navbar-toggler bg-secondary" style="color: F5DEB3;" type="button" data-toggle="collapse" data-target="#navbarHeader" aria-controls="navbarHeader" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon "></span>
        </button> -->
      </div>
    </div>
  </header>  
      <main role="main">
  
        <section class="jumbotron text-center">
          <div class="container">
            <h1 class="jumbotron-heading">Man-Hour Job Costing Application</h1>
            <p>
              <a href="/dashboard" class="btn btn-primary my-2">Job Dashboard</a>
              <a href="/fruits" class="btn btn-secondary my-2">Review Archived IM #'s</a>
            </p>
          </div>
        </section>
  
        <div class="album py-5 bg-light">
          <div class="container">
                
                
                <form action="/update/job" method="post" class="col-11 p-4 my-4 bg-dark text-light mx-auto">
                    <h4 class="mb-3" id='buy'>Edit Job IM {{job.im_number}}</h4>
            
                    
                            <input type="hidden" name="id" value={{job.id}}>
                            <div class="form-group">
                                <label for="general_contractor">General Contractor:</label>
                                <input type="text" name="general_contractor" class="form-control" value="{{job.general_contractor}}">
                            </div>
                            <div class="form-group">
                                <label for="genre">Job Scope:</label>
                                <input type="text" name="job_scope" class="form-control" value="{{job.job_scope}}">
                            </div>
                            <div class="form-group">
                                <label for="home_city">Estimated Hours:</label>
                                <input type="text" name="estimated_hours"  class="form-control" value="{{job.estimated_hours}}">
                            </div>
                            <div class="form-group">
                              <label for="context">Context: </label>
                              <input type="text" name="context" class="form-control" value="{{job.context}}"></textarea>
                            </div>

                            <div class="form-group">
                              <label for="status">Job Status:</label>
                              <div class="form-check">
                                  <input class="form-check-input" type="checkbox" name="status" id="status" value="1" {% if job.status == 1 %} checked {% endif %}>
                                  <label class="form-check-label" for="status">
                                      Active
                                  </label>
                              </div>

                            </div>
                            <input type="submit" value="Update Job" class="btn btn-primary">
                        </div>
                        <div class="col-4">
            
                            
                            
                        </div>
                    
                </form>
            
                    
  
                <!-- <h4 class="mb-3" id='info'>Your Information</h4>
                <div class="row">
                    <div class="col-md-6 mb-3">
                        <label for="firstName">First name</label>
                        <input type="text" class="form-control" name="first_name" placeholder="" value="">
                    </div>
                    <div class="col-md-6 mb-3">
                        <label for="lastName">Last name</label>
                        <input type="text" class="form-control" name="last_name" placeholder="" value="">
                    
                </div>
  
                <div class="mb-3">
                    <label for="email">Your Student ID <span class="text-muted">(Optional)</span></label>
                    <input type="text" class="form-control" name="student_id" placeholder="123-456-7890">
                </div>
              
                <hr class="mb-4">
                <button class="btn btn-primary btn-lg btn-block" type="submit">Checkout</button>
            </div> -->

            
          </div>
        </div>
  
      </main>
      
</body>
</html>