<html>
  <head>
    <title>Reset Password</title>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/bootstrap.css') }}">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/styles.css') }}">
  </head>
<body>

  <header>
    <!-- Header content same as your other pages -->
  </header>  

  <main role="main">
    <section class="jumbotron text-center">
      <div class="container">
        <h1 class="jumbotron-heading">Reset Your Password</h1>
        <p class="lead text-muted">Please enter your new password below.</p>
        <form action="/reset_password/{{ token }}" method="POST" class="center-text form-horizontal p-4 my-4 text-light" style="background-color: #D3D3D3;">
          <div class="form-group">
            <input type="password" name="password" class="form-control" placeholder="New Password">
          </div>
          <div class="form-group">
            <input type="password" name="confirm_password" class="form-control" placeholder="Confirm New Password">
          </div>
          <input type="submit" value="Reset Password" class="btn btn-primary">
        </form>
      </div>
    </section>
  </main>

</body>
</html>
