* .mwb

node_modules

jobs_schema.mwb

man_hours schema.mwb

man_hours schema.mwb.bak

.env

# SQL dumps
*.sql

# Python virtual environment
venv/
env/
.venv/
ENV/
virtualenv/

# Python byte-compiled files
__pycache__/
*.py[cod]
*$py.class
*.pyc

# Distribution / packaging
dist/
build/
*.egg-info/

# Jupyter Notebook
.ipynb_checkpoints
