/* styles.css */

@media (max-width: 768px) {

        body {
        font-size: 18px;
        }
    
        .jumbotron-heading {
        font-size: 28px;
        }
    
        .lead.text-muted {
        font-size: 16px;
        }
    
        .table {
        width: 100%;
        display: block;
        }
    
        .table thead {
        display: none;
        }
    
        .table td, 
        .table th {
        display: block;
        width: 100%;
        text-align: center;  /* Add this line */

        }
    
        .table td::before {
        content: attr(data-label);
        text-transform: uppercase;
        font-weight: bold;
        display: inline-block; /* Add this line */
        width: 100%; /* Add this line */
        }

        /* Center the text in the registration and login forms */
            .form-group {
                text-align: center;
            }

        /* Make the registration and login forms responsive */
            .form-group input[type="text"],
            .form-group input[type="password"] {
                width: 100%;
                box-sizing: border-box;
            }

        /* Make the registration and login buttons responsive */
            .btn {
                width: 100%;
                margin-bottom: 15px;
                box-sizing: border-box;
        }
    }
    